// Импортирование базовых стилей
@import "style/__base";

/* HomePage */
// Header
.header-content {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

// Main
.main-content {
  margin-top: 9rem;

  .buttons-main {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    width: 400px;
    button {
      @include btn(width, 10rem, font-size, 1rem);
    }
  }
}

/* Sign-in */
.sign-in {
  @include center-page; // не проверял

  .sign-block {
    @include sign-block;

    .sing-content {
      @include sign-content;
    }
  }
}
