// Импортирование базовых стилей
@import "style/__base";

/* HomePage */
// Header
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 15px 0;
  height: 30px;
  &-logo {
    display: flex;
    align-items: center;
    img {
      width: 35px;
    }
    p {
      margin-left: 5px;
      font-size: 19px;
    }
  }
  .header-navigation {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 170px;
    p {
      font-size: 15px;
    }
  }
}

// Main
.main-content {
  margin-top: 9rem;

  .buttons-main {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    width: 400px;
    button {
      @include btn(width, 10rem, font-size, 1rem);
    }
  }
}

/* Login */
.sign-in {
  @include center-page;

  .sign-block {
    @include sign-block(410px);

    .sign-content {
      @include sign-content;
      button {
        @include btn(width, 100%, font-size, 24px);
        margin-top: 1rem;
      }
    }
  }
}

/* Register */
.sign {
  @include center-page;
  h3 {
    font-size: 23px;
  }

  .sign-block {
    @include sign-block(500px);

    .sign-content {
      @include sign-content;
      button {
        @include btn(width, 100%, font-size, 24px);
        margin-top: 1rem;
      }
    }
  }
}

/* Create course */
.create-course-block {
  @include center-page;
  &-content{
    @include sign-content;
  }
}