@import "style/__base";

.container {
  max-width: 1700px;
  height: 100%;
  margin: 0 auto;
}

// Header
.header-content {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

// Main 
.buttons-main {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  width: 400px;
  button {
    @include btn(width, 10rem, font-size, 1rem)
  }
}

.main-content {
  margin-top: 9rem;
} 

.sign-in {
  @include center-page; // не проверял

  .sign-block {
    @include sign-block;

    .sing-content {
      @include sign-content;
    }
  }
}
